@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*:root{
  --accent: #b762fc;
  --highlight: #70b8ff;
  --background-color: #ababab;
};*/
body {
  --accent: #b762fc;
  --highlight: #70b8ff;
  --background-color: #ababab;
  background-image: linear-gradient(to bottom left, var(--accent), var(--highlight) 10%, var(--background-color) 35%, var(--background-color) 85%,var(--accent));
  background-attachment: fixed;

}
  /*No Scrolling*/
  /*overflow: hidden;*/

.title{
  margin-top: 50px;
  margin-left: 30px;
  font-size: 60px;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.subtitle{
  display: table-cell;
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 40px;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.appHeader{
  display: table-row;
}

.backButton{
  display: table-cell;
  margin-left: 5em;
  margin-right: 2.5em;
  background: rgba(0,0,0,0.4);
  border: 5px solid transparent;
  font-size: 20px;
  color: white;
  border-image: linear-gradient(to right, var(--accent), var(--highlight) 10%, var(--accent)) 30;
}

.grid{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0px;
}

.gridUL{
  display: block;
  padding: 0px;
  /*max-width: 300px;*/
  list-style-type: none; /* Bullet point*/
  /*margin-block-start: 1px;*/
  /*margin-block-end: 1em;*/
  /*margin-inline-start: 0px;*/
  /*margin-inline-end: 0px;*/
  /*padding-inline-start: 40px;*/
}
.appBox{
  /*position: absolute;*/
  display: inline-block;
  max-width: 400px;
  max-height: 400px;
  /*width: 500px;*/
  /*height: 500px;*/
  /*padding: 10px;*/
  /*padding: 2em 2em;*/
  margin: 15px;
  list-style: none;
  cursor: default;
  /*font-size: 30px;*/
  /*text-align: center;*/

  transition: transform .5s;

  /*No Image Dragging*/
  user-drag: none;

  /*background-size: cover;*/
  /*background-position: 50% 50%;*/
}
.appDiv{
  position: relative;
  /*background-color: blue;*/
}
.appImg{
  /*position: relative;*/
  width: 400px;
  /*height: 500px;*/
}
.appColorBox{
  position: absolute;

  top: 10px;
  left: 100px;
  right: 100px;

  border-radius: 15px;

  transition: transform .6s;

  /*top: 10px;*/
  /*height: 100px;*/
  /*padding-top: -50px;*/
  /*padding-bottom: -50px;*/
  /*margin-left: 0px;*/
  /*margin-right: 0px;*/
  /*left: 50px;*/
  /*right: 10px;*/
  /*text-align: center;*/
  /*font-weight: bold;*/
  /*transform: skew(-10deg);*/
  /*font-size: 40px;*/

  background-color: rgba(0,0,0,0.2);
}
.appName{
  /*left: 10px;*/
  /*position: absolute;*/
  /*top: 10px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin-top: -10px;*/
  text-align: center;
  /*font-style: italic;*/
  transform: skew(-15deg);
  font-size: 40px;
  font-weight: bold;

  /*No Text Selection*/
  user-select: none;

  /*background-color: rgba(0,0,0,0.2);*/
}
.appBox:hover{
  position: relative;
  /*background-color: rgba(0,0,0,0.5);*/
  /*color: white;*/
  transform: scale(1.3) translate(0, 30px);
  z-index:1;
  cursor: pointer;
}

.appBox:hover .appColorBox{
  /*position: relative;*/
  background-color: rgba(0,0,0,0.5);
  color: white;
  transform: scale(1.3) translate(0, 40px);
  /*z-index:1;*/
}

.appWrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: white;*/
}


/*h1{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}*/
